<h1>Synths with this Tech: <%= @tech.name %></h1>

<ul>
<% @tech.synths.each do |synth| %>
  <%= link_to(synth.name, synth_path(synth.id)) %><br>
<% end %>
</ul>

<%= link_to("Make a new #{@tech.name} synth", new_tech_synth_path(@tech.id)) %>
